body{
    width: 80%;
    margin: 0 auto;
    margin-top: 100px;
}
.orange-color{
    color: orange;
}

.half-width{
    width: 50%;
    padding-left: 6%;
    box-shadow: 10px 10 px yellowgreen;
}
.half-width img{
    width: 80%;

}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color: white;
    font-weight: 400;
    border-radius: 5px;
}
.top-banner{
    background-image: url(./images/top-banner.png);
    background-repeat: no-repeat;
    display: flex;
    margin-bottom: 150px;
}
.dream-big{
    display: flex;
    background-image: url(./images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.flexible-container{
display: flex;
}
.orange-color{
   color: orange; 
}
.experience-item{
    padding: 10px;
    width: 40%;
    border-radius: 5px;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 5px 10px 40px gray;
}
.experience-area{
    background-image: url(./images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
#web-dev-experience{
    border-left: 7px solid;
border-image: linear-gradient(blue,cyan);
border-image-slice:1;
}
